
@{
    Layout = "~/Views/Shared/_web_Layout.cshtml";
}

@*<script language='javascript' type='text/javascript'>


        alert(@(ViewData["Msg"]))
          var url = '@Url.Action("Index","Home")'
         window.location.href = url;

    </script>*@


<h1>

    Welcom
</h1>