@model Pharmavite_Saja.Models.PharmaviteUser

@{
    Layout = "~/Views/Shared/_web_Layout.cshtml";
}




<section class="signin-page account">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="block text-center">
                    <a class="logo" href="/Home/Index">
                        <img src="/" alt="">
                    </a>
                    <h2 class="text-center">Welcome Back</h2>
                    <form asp-action="Login" class="text-left clearfix">
                        <div class="form-group">
                            <input id="email" type="email" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="pass" class="form-control" placeholder="Password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-main text-center">Login</button>
                        </div>
                    </form>
                    <p class="mt-20">New in this site ?<a asp-action="Regester"> Create New Account</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


