@model Pharmavite_Saja.Models.PharmaviteCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="col-md-8 d-block m-auto">
    <div class="card">
        <div class="card-header">
            <h5 class="title">Delete</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CategoryImg)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CategoryImg)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CategoryName)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="CategoryId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-controller="Dashbord" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>